---
layout: archive
---

{{ content }}

{% for case in page.cases %}
  {% if case.pdfSource == "loc" %}
    {% capture pdfPath %}https://cdn.loc.gov/service/ll/usrep/usrep{{ case.volume }}/usrep{{ case.volume }}{{ case.page }}/usrep{{ case.volume }}{{ case.page }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPage %}{{ pdfPath }}.pdf#page={{ case.pdfPage }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}{{ pdfPath }}.gif{% endcapture %}
  {% elsif case.pdfSource == "scotusBound" %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/boundvolumes/{{ case.volume }}bv{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPage %}{{ pdfPath }}.pdf#page={{ case.pdfPage }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}/assets/images/usreports.gif{% endcapture %}
  {% else %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/{{ case.pdfSource }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPage %}{{ pdfPath }}.pdf#page={{ case.pdfPage }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}/assets/images/usreports.gif{% endcapture %}
  {% endif %}
<hr/>
  <div style="text-align:center">
    <h3>{{ case.title }}</h3>
    <p style="font-size:medium">{{ case.citation }}<br/>
    <p style="font-size:medium">Decided {{ case.dateDecision }}<br/>Dissent by Justice {{ case.justiceDissented }}</p>
    <p>
      <a href="{{ pdfURL }}">
        <img src="{{ pdfGIF }}" style="display:block; margin:auto;" />
      </a>
    </p>
  </div>
{% endfor %}
