---
layout: default
---

<article class="page">
  <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
  {{ content }}
</article>

{% for case in page.cases %}
  {% if case.pdfSource == "loc" %}
    {% capture pdfPath %}https://cdn.loc.gov/service/ll/usrep/usrep{{ case.volume }}/usrep{{ case.volume }}{{ case.page }}/usrep{{ case.volume }}{{ case.page }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}{{ pdfPath }}.gif{% endcapture %}
  {% elsif case.pdfSource == "scotusBound" %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/boundvolumes/{{ case.volume }}bv{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}/images/usreports.gif{% endcapture %}
  {% else %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/{{ case.pdfSource }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfGIF %}/images/usreports.gif{% endcapture %}
  {% endif %}
  {% capture caseCitation %}{% if case.docket %}No. {{ case.docket }}<br/>{% endif %}{% if case.citation %}{{ case.citation }}<br/>{% endif %}{% endcapture %}
  {% capture caseArgument %}{% if case.dateArgument %}{% if case.urlOyez %}Argued <a href="{{ case.urlOyez }}">{{ case.dateArgument }}</a><br/>{% else %}Argued {{ case.dateArgument }}<br/>{% endif %}{% endif %}{% endcapture %}
  <div id="{{ case.id }}" style="text-align:center">
    <h3>{{ case.title }}</h3>
    <p style="font-size:medium">{{ caseCitation }}</p>
    {% if case.authorId %}
    <p style="font-size:medium">{{ caseArgument }}Decided <a href="/cases/all/{{ case.termId }}#{{ case.id }}">{{ case.dateDecision }}</a><br/>Opinion by <a href="/justices/all/{{ case.authorId }}#{{ case.id }}">Justice {{ case.authorName }}</a></p>
    {% elsif case.dissenterId %}
    <p style="font-size:medium">{{ caseArgument }}Decided <a href="/cases/loners/{{ case.termId }}#{{ case.id }}">{{ case.dateDecision }}</a><br/>Dissent by <a href="/justices/loners/{{ case.dissenterId }}#{{ case.id }}">Justice {{ case.dissenterName }}</a></p>
    {% else %}
    <p style="font-size:medium">{{ caseArgument }}{% if case.dateDecision %}Decided {{ case.dateDecision }}{% endif %}</p>
    {% endif %}
    <p>
      <a href="{{ pdfURL }}">
        <img src="{{ pdfGIF }}" style="display:block; margin:auto;" alt="{{ case.citation }}"/>
      </a>
    </p>
    {% if case.number and case.dateArgument %}
    <p style="font-size:medium">Appearance No. {{ case.number }}</p>
    {% endif %}
  </div>
  <hr/>
{% endfor %}
