---
layout: default
---

<article class="page">
  <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
  {{ content }}
</article>

<div class="case-display">
{% for case in page.cases %}
  {% if case.pdfURL %}
    {% assign pdfURL = case.pdfURL %}
    {% assign pdfThumb = case.pdfThumb %}
  {% elsif case.pdfSource == "loc" %}
    {% capture pdfPath %}https://cdn.loc.gov/service/ll/usrep/usrep{{ case.volume }}/usrep{{ case.volume }}{{ case.page }}/usrep{{ case.volume }}{{ case.page }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfThumb %}{{ pdfPath }}.gif{% endcapture %}
  {% elsif case.pdfSource == "scotusBound" %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/boundvolumes/{{ case.volume }}bv{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfThumb %}/images/thumbnails/usreports.gif{% endcapture %}
  {% else %}
    {% capture pdfPath %}https://www.supremecourt.gov/opinions/{{ case.pdfSource }}{% endcapture %}
    {% capture pdfURL %}{% if case.pdfPageDissent %}{{ pdfPath }}.pdf#page={{ case.pdfPageDissent }}{% else %}{{ pdfPath }}.pdf{% endif %}{% endcapture %}
    {% capture pdfThumb %}/images/thumbnails/usreports.gif{% endcapture %}
  {% endif %}
  {% capture caseCitation %}{% if case.docket %}No. {{ case.docket }}<br/>{% endif %}{% if case.usCite %}{{ case.usCite }}<br/>{% endif %}{% endcapture %}
  {% capture urlArgument %}{% if case.urlOyez %}{{ case.urlOyez }}{% elsif case.urlTranscript %}{{ case.urlTranscript }}{% endif %}{% endcapture %}
  {% capture caseArgument %}{% if case.dateArgument %}{% if urlArgument != "" %}Argued <a href="{{ urlArgument }}">{{ case.dateArgument }}</a><br/>{% else %}Argued {{ case.dateArgument }}<br/>{% endif %}{% endif %}{% endcapture %}
  <div id="{{ case.id }}" class="case-card">
    <p class="case-title">{{ case.title }}</p>
    <p class="case-citation">{{ caseCitation }}</p>
    {% if case.pdfURL %}
    <p class="case-dates">{{ caseArgument }}Decided <a href="/cases/all/{{ case.termId }}#{{ case.id }}">{{ case.dateDecision }}</a></p>
    {% elsif case.authorId %}
    <p class="case-dates">{{ caseArgument }}Decided <a href="/cases/all/{{ case.termId }}#{{ case.id }}">{{ case.dateDecision }}</a><br/>Opinion by <a href="/justices/all/{{ case.authorId }}#{{ case.id }}">Justice {{ case.authorName }}</a></p>
    {% elsif case.dissenterId %}
    <p class="case-dates">{{ caseArgument }}Decided <a href="/cases/loners/{{ case.termId }}#{{ case.id }}">{{ case.dateDecision }}</a><br/>Dissent by <a href="/justices/loners/{{ case.dissenterId }}#{{ case.id }}">Justice {{ case.dissenterName }}</a></p>
    {% else %}
    <p class="case-dates">{{ caseArgument }}{% if case.dateDecision %}Decided {{ case.dateDecision }}{% endif %}</p>
    {% endif %}
    <p class="case-document">
      <a href="{{ pdfURL }}">
        <img src="{{ pdfThumb }}" style="display:block;margin:auto;width:100px;height:150px;" alt="{{ case.usCite }}"/>
      </a>
    </p>
    {% if case.number and case.dateArgument %}
    <p class="case-number">Appearance No. {{ case.number }}</p>
    {% endif %}
  </div>
{% endfor %}
</div>
