<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.description }}</title>
    {%- include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    {%- include analytics-gtag.html %}
    {%- if site.local == true %}
    <script src="{{ '/assets/js/anime.js' | relative_url }}"></script>
    {%- else %}
    <script src="{{ '/assets/js/anime.min.js' | relative_url }}"></script>
    {%- endif %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-icon"><img src="{{ site.icon }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/cases/loners">Loners</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {%- include svg-icons.html %}
        </footer>
      </div>
    </div>

  </body>
</html>
